.container_footer{
    background-color: var(--color-primary);
    padding: 6rem 3rem;
    color: #fff;
}
.container_footer div{
    border-bottom: 0.1rem solid #1f4b79;
    padding: 1.5rem 0rem;
}

.container_footer h5{
    font-size: 1.6rem;
    margin: 2rem 0rem 1rem 0;
}

.container_footer p{
    font-size: 1.4rem;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.list li{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1.5rem;
}

.list_inline{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 1.5rem 0rem;
}
   