.container_slide_superDestaque .slide{
    display: block;
    height:60vh;
    background-color: var(--color-primary);
    color: var(--color-secudary);
    position: relative;
  
}
.container_slide_superDestaque .slide img{



}
.container_slide_superDestaque .slide h2{
    position: absolute;
    top: 35%;
    text-align: left;
    font-size: 2rem;
    padding: 0 3rem;
    color: var(--color-secudary);
}
