*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    --color-primary: #0E2E50;
    --color-secudary:#fff;
    --color-title:rgb(27, 27, 34);
    --color-text:rgb(77, 77, 77);
    --color-border:rgb(221, 221, 221);
    --color-whatsapp:rgb(41, 167, 26);

}

a{
    color:inherit;
}

h2{
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;

}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
}

.active-menu{
    display: block;
    width: 100vw;
}


.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 20px!important;
}





@media (min-width:450px) {
    .active-menu{
        width: 70vw;
    } 
}

@media (min-width:768px) {
    .active-menu{
        width: 50vw;
    } 
}

@media (min-width:1024px) {
    .active-menu{
        width: 20vw;
    } 
}


