*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    --color-primary: #0E2E50;
    --color-secudary:#fff;
    --color-title:rgb(27, 27, 34);
    --color-text:rgb(77, 77, 77);
    --color-border:#fafafa;

}

a{
    color:inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}



section{
    height: 100vh;
}



.active-menu{
    display: block;
    width: 100vw;
    

}
