.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem 1.2rem;
    border-bottom: 0.1rem solid var(--color-border);
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    min-height: 8rem;
    z-index: 9;
}


.menu_upbar{
    display: none;
}

.container_sidebar{
    display: flex;
    justify-content: right;
        
}


.container_sidebar_content{
    overflow-x: hidden;
    width: 0;
    position: absolute;
    top: 0%;
    height: 100vh;
    right: 0%;
    transition: 0.5s ease-in-out;
    background-color:var(--color-primary);
    color: #ffffff;
}

.container_sidebar_content div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 0.1rem solid #14365b ;
}

.container_sidebar_content > div, .menu_sidebar{
    padding: 2rem 3rem;
    min-width:320px;
}

.menu_sidebar{
    overflow-y: auto ;
}

.menu_sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.menu_sidebar ul li a{
    display: flex;
    padding: 1.6rem ;

}





@media (min-width:1024px) {

.container_header{
    padding: 1.2rem 9rem;
}
.menu_upbar{
    display: block;
}
.menu_upbar nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.menu_upbar nav ul li{
    font-weight: 500;
}

.menu_upbar nav ul li a{
    display: block;
    padding: 1rem;
    position: relative;
    font-size: 1.4rem;
}
.menu_upbar nav ul li a::after{
    position: absolute;
    content: "";
    display: block;
    height: 0.2rem;
    left: 0;
    bottom: 0;
    width: 0%;
    background-color: var(--color-primary);
    transition: 0.5s;
}

.menu_upbar nav ul li a:hover::after{
    width: 100%;
}


}