.container_about{
    padding: 9rem 0rem 3rem 0rem;

}

.container_about__img{
    background-image: url("/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.container_about__content{
    padding: 3rem;
}

.container_about__content p:not(:last-of-type){
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
}